.terraform/

*.tfstate
*.tfstate.backup

.terraform.lock.hcl

*.tfvars
*.tfvars.json

*Zone.Identifier

.vscode/
.DS_Store

# Terraform local state
*.tfstate.*

# Windows metadata (Zone.Identifier)
*_Zone.Identifier
*:Zone.Identifier

# Crash logs
crash.log